<!--
<% content_for(:sidemenu) do %>
	<%= render('presentation/panel') %>
<% end %>
-->
<div class="cointainer">
	<div class="flex mt-16 md:mt-32">
		<div class="w-11/12 md:w-full mx-auto text-center">
			<h3 class="title has-text-grey"><%= t('.title') %></h3>
			<p class="subtitle has-text-grey"><%= t('.subtitle') %></p>
			<%= render('/sessions/form') %>
		</div>
	</div>
</div>
