	<div class="flex">
		<div class="w-11/12 md:w-full mx-auto text-center  mt-8 md:mt-32">
			<h3 class="title has-text-grey"><%= t('.title') %></h3>
			<p class="subtitle has-text-grey"><%= t('.subtitle') %></p>
			<%= render('/sessions/form') %>
		</div>
	</div>
