<div class="flex border-b border-gray-400 bg-white">
    <div class="w-full flex py-4">
      <div class="w-20 md:w-24 flex justify-center items-center">
        <input class="mr-2 leading-tight" type="checkbox">
      </div>
      <div class="w-full flex items-center">
        <div class="w-1/5 lg:w-1/6">
          <p class="text-sm md:text-base">Projektet Gåsen</p>
          <p class="text-sm text-blue-500 opacity-75 -mt-1">Kund Kundsson</p>
        </div>
        <div class="w-1/5 lg:w-1/6">
          <p class="text-md text-blue-500">#12345678</p>
        </div>
        <div class="w-1/6 hidden lg:inline-block">
          <p class="text-md">01-01-2020</p>
        </div>
        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
          <p class="text-md">9.000,00 SEK</p>
        </div>
        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
          <p class="text-md text-green-500">01-01-2020</p>
        </div>
        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
          <span
            class="text-sm md:text-base inline-flex bg-yellow-200 text-yellow-800 font-semibold rounded-full h-6 px-3 md:px-4 justify-center items-center">Active</span>
        </div>
      </div>
      <div class="w-16 hidden md:flex items-center">
        <a href="project">
          <span class="icon text-gray-600">
            <i class="fas fa-lg fa-ellipsis-h"></i>
          </span>
        </a>
      </div>
    </div>
</div>
