<div x-show="sort_by" class="absolute z-50 mt-2 rounded" x-transition:enter="transition ease-out duration-100"
  x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100"
  x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100"
  x-transition:leave-end="transform opacity-0 scale-95">
  <div class="w-40 p-3 bg-white border border-gray-400 rounded">
    <div class="flex flex-wrap items-center w-full">
      <button
        class="flex items-center justify-center w-full py-1 text-center text-white normal-case bg-orange-500 border border-gray-300 btn hover:border-transparent">
        <span class=""><%= t('.latest') %></span>
      </button>
      <button
      class="flex items-center justify-center w-full py-1 mt-4 text-center text-gray-900 normal-case border border-gray-300 btn hover:bg-orange-500 hover:text-white hover:border-transparent">
        <span class=""><%= t('.customer_name') %></span>
      </button>
      <button
        class="flex items-center justify-center w-full py-1 mt-4 text-center text-gray-900 normal-case border border-gray-300 btn hover:bg-orange-500 hover:text-white hover:border-transparent">
        <span class=""><%= t('.project_name') %></span>
      </button>
    </div>
  </div>
</div>
