<p class="menu-label">
  <%= t('.shortcuts') %>
</p>
<ul class="menu-list">
  <%= active_menu(account_path, active, :new) do %>
    <%= icon('fas', 'plus-square') %>
    <%= t('.create_new_project') %>
  <% end %>
</ul>
