<div class="container py-12 sm:mx-auto xl:mx-auto">
  <div class="w-full px-8 text-center">
    <h1 class="font-sans text-3xl text-gray-900 md:text-4xl">
      Anslut ditt företag!
    </h1>
    <p class="mt-6 text-base text-gray-600 md:text-xl">
      Anslut ditt företag och hitta nya kunder redan idag!<br>
      Fyll i formuläret till höger så kontaktar en av våra säljare er.
    </p>
  </div>
  <div class="flex flex-wrap px-5 py-8 lg:px-12">
    <div class="flex items-center w-full md:w-2/5 lg:w-1/2">
      <div class="w-1/2 pr-0 mx-auto mt-8 md:w-full md:pr-8 xl:w-2/3">
        <%= image_tag('connect.svg', alt: 'Connect company')%>
      </div>
    </div>
    <div class="w-full mx-auto mt-16 md:w-3/5 lg:w-1/2 md:mt-12">
      <div class="max-w-xl py-2 pb-6 mb-4 bg-white border border-gray-400 rounded shadow-md md:px-6">
        <div class="flex items-center px-4 border-b border-gray-500 md:border-none md:px-0">
          <div class="hidden w-1/3 font-medium text-gray-700 md:block">
            Förnamn
          </div>
          <div class="w-full pb-2 md:w-2/3">
            <label class="text-xs font-medium tracking-wide text-gray-800 uppercase md:hidden">
              First Name
            </label>
            <input class="block w-full py-2 mt-2 leading-tight text-gray-700 rounded appearance-none md:bg-gray-200 md:py-3 md:px-4 focus:outline-none focus:bg-white md:border focus:border-gray-500" type="text" placeholder="Namn">
          </div>
        </div>
        <div class="flex items-center px-4 border-b border-gray-500 md:border-none md:px-0">
          <div class="hidden w-1/3 font-medium text-gray-700 md:block">
            Efternamn
          </div>
          <div class="w-full pb-2 mt-2 md:w-2/3">
            <label class="text-xs font-medium tracking-wide text-gray-800 uppercase md:hidden">
              Efternamn
            </label>
            <input class="block w-full py-2 mt-2 leading-tight text-gray-700 rounded appearance-none md:bg-gray-200 md:py-3 md:px-4 focus:outline-none focus:bg-white md:border focus:border-gray-500" type="text" placeholder="Efternamn">
          </div>
        </div>
        <div class="flex items-center px-4 border-b border-gray-500 md:border-none md:px-0">
          <div class="hidden w-1/3 font-medium text-gray-700 md:block">
            Email
          </div>
          <div class="w-full pb-2 mt-2 md:w-2/3">
            <label class="text-xs font-medium tracking-wide text-gray-800 uppercase md:hidden">
              Email
            </label>
            <input class="block w-full py-2 mt-2 leading-tight text-gray-700 rounded appearance-none md:bg-gray-200 md:py-3 md:px-4 focus:outline-none focus:bg-white md:border focus:border-gray-500" type="text" placeholder="mail@mail.com">
          </div>
        </div>
        <div class="flex items-center px-4 border-b border-gray-500 md:border-none md:px-0">
          <div class="hidden w-1/3 font-medium text-gray-700 md:block">
            Telefon
          </div>
          <div class="w-full pb-2 mt-2 md:w-2/3">
            <label class="text-xs font-medium tracking-wide text-gray-800 uppercase md:hidden">
              Telefon
            </label>
            <input class="block w-full py-2 mt-2 leading-tight text-gray-700 rounded appearance-none md:bg-gray-200 md:py-3 md:px-4 focus:outline-none focus:bg-white md:border focus:border-gray-500" type="text" placeholder="+46701231234">
          </div>
        </div>
        <div class="flex items-start px-4 md:border-none md:px-0">
          <div class="hidden w-1/3 mt-4 font-medium text-gray-700 md:block">
            Meddelande
          </div>
          <div class="w-full pb-2 mt-2 md:w-2/3">
            <label class="text-xs font-medium tracking-wide text-gray-800 uppercase md:hidden">
              Meddelande
            </label>
            <textarea class="block w-full h-32 py-2 mt-2 leading-tight text-gray-700 rounded appearance-none md:bg-gray-100 md:py-3 md:px-4 focus:outline-none focus:bg-white md:border focus:border-gray-500" id="subject" type="description" placeholder="Är det något mer vi behöver veta? Berätta det här!"></textarea>
          </div>
        </div>
        <div class="flex justify-end w-full px-5 mt-4 md:px-0">
          <button
					class="w-24 px-2 py-2 text-sm font-bold text-white no-underline uppercase bg-blue-600 border border-blue-600 rounded shadow-md opacity-50 cursor-not-allowed hover:text-white hover:bg-blue-400 hover:border-blue-400 focus:outline-none active:shadow-none"
					>Skicka</button>
        </div>
      </div>
    </div>
  </div>
</div>
