<div class="w-4/5 mx-auto">
	<div class="w-full mx-auto mt-4 md:mt-12 lg:mt-20 xl:mt-8 mb-3">
		<div class="w-3/4 mx-auto text-center">
			<h1 class="text-3xl md:text-5xl font-sans font-bold text-blue-900">
				Karta
			</h1>
			<div class="w-full md:w-1/3 mx-auto mt-4">
				<div class="field is-grouped">
					<p class="control is-expanded">
						<input class="input" type="text" placeholder="Kommun">
					</p>
					<p class="control">
						<a class="button is-info">
							Sök
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="w-full mx-auto mt-16">
		<div class="flex">
			<div class="w-1/2 mx-auto">
				<div class="w-5/6 mx-auto">
					<div class="shadow-xl rounded-md bg-white p-3" style="height:45vh">
						<% @companies.each do |company| %>
							<%= company.to_s %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="w-1/2 ml-4">
				<div class="shadow-xl rounded-md bg-white h-64 p-3" style="height:45vh">
					<div class="w-full mx-auto h-full"
						id="map"
						data-companies="<%= @company_geojson.to_json %>"
						data-access-token="<%= ENV.fetch('MAPBOX_API_KEY', '') %>">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
