<% if tasks.any? %>
  <% tasks.each do |task| %>
    <%= render("invoices/tasks/row", invoice: invoice, task: task) %>
  <% end %>
<% else %>
  <div class="p-6 text-center bg-white rounded">
    <div class="w-24 mx-auto mt-4 mb-4">
      <%= image_tag('no_timelogs.svg', alt: 'Builders')%>
    </div>
    <p class="mb-4 text-2xl font-medium text-gray-900"><%= t('.add_tasks_now') %></p>
    <p class="max-w-xs mx-auto mb-6 text-gray"><%= t('.use_the_button_down_below_to_add_tasks_to_your_invoice') %>
    </p>
  </div>
<% end %>
