<div class="text-center p-6">
  <div class="w-24 mx-auto mt-4 mb-4">
    <%= image_tag('add_first_customer.svg', alt: 'Builders')%>
  </div>
  <p class="text-2xl text-gray-900 font-medium mb-4"><%= t(".no_customers_found") %></p>
</div>
