<div class="w-full overflow-y-auto lg:flex-grow px-4">
    <div class="flex-grow mx-auto sm:px-4 pt-2 md:pt-6">
        <div class="w-full">
            <h1 class="text-3xl font-bold text-gray-800"><%= @customer.name %></h1>
        </div>
        <%= render('form', customer: @customer, organisations: @organisations) %>
    </div>
</div>
