<div class="w-full lg:p-2 mt-4 lg:mt-0">
  <div class="h-12 bg-gray-800 px-3 py-2 rounded-t">
    <h1 class="text-white font-semibold font-semibold text-lg xl:text-xl">Project structure</h1>
  </div>
  <div class="border-l border-b border-r border-gray-400 bg-white shadow p-3 xl:px-6">
    <div class="flex flex-wrap mb-10 items-center">
      <div class="w-full flex flex-wrap">
        <input class="mr-2 leading-tight" type="checkbox">
        <div class="w-3/4 pl-2">
          <input placeholder="Uppstartsmöte"
                  class="text-sm appearance-none block w-full bg-gray-200
                        text-gray-700 border border-gray-300 rounded
                        py-3 px-3 leading-tight focus:outline-none
                        focus:bg-white focus:border-gray-500"
                  type="text" />
        </div>
        <div class="w-1/6 pl-2">
          <input placeholder="Tid"
                  class="text-sm appearance-none block w-full bg-gray-200
                        text-gray-700 border border-gray-300 rounded
                        py-3 px-3 leading-tight focus:outline-none
                        focus:bg-white focus:border-gray-500"
                  type="text" />
        </div>
      </div>
    </div>
    <div class="flex flex-wrap mb-10 items-center">
      <div class="w-full flex flex-wrap">
        <input class="mr-2 leading-tight" type="checkbox">
        <div class="w-3/4 pl-2">
          <input placeholder="Kontrollbesiktning"
                  class="text-sm appearance-none block w-full bg-gray-200
                  text-gray-700 border border-gray-300 rounded
                  py-3 px-3 leading-tight focus:outline-none
                  focus:bg-white focus:border-gray-500"
                  type="text" />
        </div>
        <div class="w-1/6 pl-2">
          <input placeholder="Tid"
                  class="text-sm appearance-none block w-full bg-gray-200
                        text-gray-700 border border-gray-300 rounded
                        py-3 px-3 leading-tight focus:outline-none
                        focus:bg-white focus:border-gray-500"
                  type="text" />
        </div>
      </div>
    </div>
    <div class="flex flex-wrap mb-10 items-center">
      <div class="w-full flex flex-wrap">
        <input class="mr-2 leading-tight" type="checkbox">
        <div class="w-3/4 pl-2">
          <input placeholder="Övrigt"
                  class="text-sm appearance-none block w-full bg-gray-200
                        text-gray-700 border border-gray-300 rounded
                        py-3 px-3 leading-tight focus:outline-none
                        focus:bg-white focus:border-gray-500"
                  type="text" />
        </div>
        <div class="w-1/6 pl-2">
          <input placeholder="Tid"
                  class="text-sm appearance-none block w-full bg-gray-200
                        text-gray-700 border border-gray-300 rounded
                        py-3 px-3 leading-tight focus:outline-none
                        focus:bg-white focus:border-gray-500"
                  type="text" />
        </div>
      </div>
    </div>
    <div class="flex flex-wrap items-center">
      <div class="w-full flex flex-wrap">
        <input class="mr-2 leading-tight" type="checkbox">
        <div class="w-3/4 pl-2">
          <input placeholder="Slutbesiktning"
                  class="text-sm appearance-none block w-full bg-gray-200
                        text-gray-700 border border-gray-300 rounded
                        py-3 px-3 leading-tight focus:outline-none
                        focus:bg-white focus:border-gray-500"
                  type="text" />
        </div>
        <div class="w-1/6 pl-2">
          <input placeholder="Tid"
                  class="text-sm appearance-none block w-full bg-gray-200
                        text-gray-700 border border-gray-300 rounded
                        py-3 px-3 leading-tight focus:outline-none
                        focus:bg-white focus:border-gray-500"
                  type="text" />
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center mt-8">
      <div class="rounded-full w-10 h-10 bg-blue-500 flex
                  items-center justify-center text-white text-xl">
        <%= icon('fas', 'plus', class: "") %>
      </div>
    </div>
  </div>
