<div class="flex items-center flex-grow h-12 px-3 py-2 -m-px bg-gray-800 rounded-t">
  <h1 class="text-xl font-semibold text-white xl:text-2xl"><%= t('.structure') %></h1>
</div>
<div class="w-full px-4 py-2 mt-2 lg:px-8 lg:py-4">
  <div class="flex flex-wrap items-center mb-10">
    <div class="flex flex-wrap w-full">
      <input class="mr-2 leading-tight" type="checkbox">
      <div class="w-3/4 pl-2">
        <input placeholder="Uppstartsmöte" class="block w-full px-3 py-3 text-sm leading-tight text-gray-700 border border-gray-300 appearance-none bg-gray-200
  rounded
 focus:outline-none
 focus:bg-white focus:border-gray-500" type="text" />
      </div>
      <div class="w-1/6 pl-2">
        <input placeholder="Tid" class="block w-full px-3 py-3 text-sm leading-tight text-gray-700 border border-gray-300 appearance-none bg-gray-200
  rounded
 focus:outline-none
 focus:bg-white focus:border-gray-500" type="text" />
      </div>
    </div>
  </div>
  <div class="flex flex-wrap items-center mb-10">
    <div class="flex flex-wrap w-full">
      <input class="mr-2 leading-tight" type="checkbox">
      <div class="w-3/4 pl-2">
        <input placeholder="Kontrollbesiktning" class="block w-full px-3 py-3 text-sm leading-tight text-gray-700 border border-gray-300 appearance-none bg-gray-200
  rounded
 focus:outline-none
 focus:bg-white focus:border-gray-500" type="text" />
      </div>
      <div class="w-1/6 pl-2">
        <input placeholder="Tid" class="block w-full px-3 py-3 text-sm leading-tight text-gray-700 border border-gray-300 appearance-none bg-gray-200
  rounded
 focus:outline-none
 focus:bg-white focus:border-gray-500" type="text" />
      </div>
    </div>
  </div>
  <div class="flex flex-wrap items-center mb-10">
    <div class="flex flex-wrap w-full">
      <input class="mr-2 leading-tight" type="checkbox">
      <div class="w-3/4 pl-2">
        <input placeholder="Övrigt" class="block w-full px-3 py-3 text-sm leading-tight text-gray-700 border border-gray-300 appearance-none bg-gray-200
  rounded
 focus:outline-none
 focus:bg-white focus:border-gray-500" type="text" />
      </div>
      <div class="w-1/6 pl-2">
        <input placeholder="Tid" class="block w-full px-3 py-3 text-sm leading-tight text-gray-700 border border-gray-300 appearance-none bg-gray-200
  rounded
 focus:outline-none
 focus:bg-white focus:border-gray-500" type="text" />
      </div>
    </div>
  </div>
  <div class="flex flex-wrap items-center">
    <div class="flex flex-wrap w-full">
      <input class="mr-2 leading-tight" type="checkbox">
      <div class="w-3/4 pl-2">
        <input placeholder="Slutbesiktning" class="block w-full px-3 py-3 text-sm leading-tight text-gray-700 border border-gray-300 appearance-none bg-gray-200
  rounded
 focus:outline-none
 focus:bg-white focus:border-gray-500" type="text" />
      </div>
      <div class="w-1/6 pl-2">
        <input placeholder="Tid" class="block w-full px-3 py-3 text-sm leading-tight text-gray-700 border border-gray-300 appearance-none bg-gray-200
  rounded
 focus:outline-none
 focus:bg-white focus:border-gray-500" type="text" />
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center mt-8">
    <div class="items-center justify-center w-10 h-10 text-xl text-white bg-blue-500 rounded-full flex
 ">
      <%= icon('fas', 'plus', class: "") %>
    </div>
  </div>
</div>
