<% content_for(:sidebar) do %>
  <%= render('application/account_menu', current: :projects) %>
<% end %>
<div class="flex-grow">
  <%= render("heading") %>
  <%= render("search_field") %>
  <%= render("table") %>
</div>
