<div class="bg-white hover:bg-blue-600 text-blue-900 hover:text-white rounded p-2 mb-6">
  <div class="flex items-center p-1">
    <div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
      Logo
    </div>
    <div class="w-3/4">
      <p class="font-semibold text-lg">
        <%= company.to_s %>
      </p>
      <p class="text-sm font-light font-sans">
        <%= company.geocode_address %>
      </p>
    </div>
  </div>
</div>
