<div class="p-6 mt-8 mb-32 md:mt-32">
  <div class="container flex bg-white rounded-lg shadow mx-auto max-w-sm mt-4 md:mt-8">
    <div class="w-full p-8 text-center">
      <h1 class="text-gray-900 text-2xl font-bold"><%= t('.title') %></h1>
      <div id="clearance" class="password-reset">
        <div class="mb-4">
          <span class="text-gray-600 text-base">
            <%= t('.description') %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
