<div class="container mt-16 mb-12 h-100 sm:mx-auto xl:mx-auto md:mb-20 lg:mb-20 xl:mb-40 md:mt-20 lg:mt-24 xl:mt-32">
  <div class="flex flex-wrap">
    <div class="w-full xl:w-2/4">
      <div class="w-full mx-auto xl:mx-0 xl:w-5/6">
        <div class="w-10/12 mx-auto lg:w-8/12 xl:w-full xl:mx-0">
          <h1 class="font-sans text-2xl font-bold text-blue-900 md:text-4xl xl:text-5xl">
            <%= t('.title') %>
          </h1>
          <br>
          <p class="font-medium text-gray-600">
            <%= t('.description') %>
          </p>
        </div>
      </div>
    </div>
    <div class="w-5/6 mx-auto xl:w-2/4">
      <div class="w-5/6 mx-auto mt-12 md:w-3/4 xl:w-11/12 xl:mt-12">
        <%= image_tag('home_house.svg')%>
      </div>
    </div>
  </div>
</div>
