#map {
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.bg_color_home {
  background-color: #132B56;
}

.maxcontentwidth {
  max-width: 1920px;
}

.mapheight {
  height: 60vh;
}

ul li {
  padding: 5px 0px;
}

.mapboxgl-popup-close-button {
  width: 20px;
  display: true;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  background-color: yellow;
  background: #000000;
  padding: 50px;
  width: 200px;
}

.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(asset_path('marker.png'));
  background-color: rgba(0, 0, 0, 0);
}

input[type="radio"]:checked + label span {
  background-color: #3490DC; //bg-blue
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label{
   color: #3490DC; //text-blue
}

input[type="radio"] + label span {
  transition: background .2s,
    transform .2s;
}

.companylist {
  height: calc(100% - 5rem);
}

.sidemenu {
  width: 22rem;
  background-color: #223245;
}

.inherit-width {
  width:inherit;
}

.h-9 {
  height: 2.25rem;
}

.w-9 {
  width: 2.25rem;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #BFE3F7;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 0px;
  display: none;
  overflow: hidden;

  p
  {
    line-height: normal;
  }
}

/* Mobile menu transition */

.transition-opacity {
  transition-property:opacity
}

.transition-transform {
  transition-property:transform
}

.-translate-x-full {
  transform:translateX(-100%)
}

.translate-x-full {
  transform:translateX(100%)
}

.ease-in {
  transition-timing-function:cubic-bezier(.4, 0, 1, 1)
}

.ease-out {
  transition-timing-function:cubic-bezier(0, 0, .2, 1)
}

.transition-slow {
  transition-duration:.3s
}

.transition-slower {
  transition-duration:.5s
}

.transition-slowest {
  transition-duration:.7s
}

.translate-x-0 {
  transform:translateX(0)
}

.transition-medium {
  transition-duration:.2s
}

/* Stops the mobile nav menu flashing in link clicks and reloads */

[v-cloak] { display: none; }
