#map {
}

* {
  -webkit-overflow-scrolling: touch;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg_color_home {
  background-color: #132b56;
}

.maxcontentwidth {
  max-width: 1920px;
}

ul li {
  padding: 5px 0px;
}

.mapboxgl-popup-close-button {
  width: 30px;
  height: 28px;
  font-size: 28px;
  font-weight: semibold;
  color: #718096 !important;
  border-top-right-radius: 0.5rem !important;
}

.mapboxgl-popup {
  padding: 0 !important;
  border-radius: 0.5rem !important;
  @media screen and (max-width:720px) {
    width: 80vw !important;
  }
  width: 400px !important;
  max-width: 400px !important;
}

.mapboxgl-popup-content {
  padding: 0 !important;
  border-radius: 0.5rem !important;
  @media screen and (max-width:720px) {
    width: 80vw !important;
  }
  width: 400px !important;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(asset_path("marker.png"));
  background-color: rgba(0, 0, 0, 0);
}

input[type="radio"]:checked + label span {
  background-color: #3490dc; //bg-blue
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label {
  color: #3490dc; //text-blue
}

input[type="radio"] + label span {
  transition: background 0.2s, transform 0.2s;
}

.companylist {
  height: calc(100vh - 22rem);
}

.inherit-width {
  width: inherit;
}

.h-9 {
  height: 2.25rem;
}

.w-9 {
  width: 2.25rem;
}

/* Mobile menu transition */

.transition-opacity {
  transition-property: opacity;
}

.transition-transform {
  transition-property: transform;
}

.-translate-x-full {
  transform: translateX(-100%);
}

.translate-x-full {
  transform: translateX(100%);
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.transition-slow {
  transition-duration: 0.3s;
}

.transition-slower {
  transition-duration: 0.5s;
}

.transition-slowest {
  transition-duration: 0.7s;
}

.translate-x-0 {
  transform: translateX(0);
}

.transition-medium {
  transition-duration: 0.2s;
}

/* Stops the mobile nav menu flashing in link clicks and reloads */

[v-cloak] {
  display: none;
}

*:focus {
  outline: none;
}

.animate-card {
  transition: all 0.2s ease-in-out;
}

.animate-card:hover {
  margin-left: -12px;
  transition: all 0.2s ease-in-out;
}


.company_list_background {
  background-color: #c4dbf3;
}

/*Drop down menu*/

.drop-down {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  transform: translateY(-0.5em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}

.drop-down-parent:focus .drop-down,
.drop-down-parent:focus-within .drop-down,
.drop-down-parent:hover .drop-down {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.company-list-width {
  width: 22vw;
  min-width: 350px;
  max-width: 400px;
}

.company-info {
  width: 22vw;
  min-width: 350px;
  max-width: 400px;
}

.account-arrow {
  position:relative;
}

.account-arrow:after {
  content:'';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid white;
}

.svgbackground {
  background-image: image-url('svgbackgroundtest.svg');
  background-size: cover;
}

.account-menu-width {
  width: 18rem;
}

.menu-list {
  ul, li {
    margin: 0;
    padding: 0;
  }

  a {
    color: #ffffff;
    height: 50px;
    &:hover {
      background-color: #4A5567;
      border-left: 4px solid #188CFB;
      color: #ffffff;
    }
  }

  p {
    border-radius: 3px;
    display: block;
    padding: .5em .75em;

    &.is-active {
      background-color: #132b56;
      color: #ffffff;
    }
  }
}

.ribbon_green {
  $ribbon_height: 10px;
  $ribbon_width: 10px;
  $green_color: #38a169;
  $ribbon_color: $green_color - 100;
  margin-left: -$ribbon_width;
  padding: 0 $ribbon_width;
  &:before{
    content: '';
    position: absolute;
    top: 100%;
    border-bottom: $ribbon_height solid transparent;
  }
  &:before{
    left: 0;
    border-right: $ribbon_width solid $ribbon_color;
  }
}

.ribbon_red {
  $ribbon_height: 10px;
  $ribbon_width: 10px;
  $green_color: #e53e3e;
  $ribbon_color: $green_color - 100;
  margin-left: -$ribbon_width;
  padding: 0 $ribbon_width;
  &:before{
    content: '';
    position: absolute;
    top: 100%;
    border-bottom: $ribbon_height solid transparent;
  }
  &:before{
    left: 0;
    border-right: $ribbon_width solid $ribbon_color;
  }
}
