.menu-list {
  ul, li {
    margin: 0;
    padding: 0;
  }
  a {
    color: #ffffff;
    height: 50px;
    &:hover {
      background-color: #2d3748;
      border-left: 5px solid #188CFB;
      color: #ffffff;
    }
  }

  p {
    border-radius: 3px;
    display: block;
    padding: .5em .75em;

    &.is-active {
      background-color: $primary;
      color: #ffffff;
    }
  }
}
