.menu-list {
  a {
    color: $white;
    &:hover {
      background-color: #3490DC;
      color: $white;
    }
  }

  p {
    border-radius: 2px;
    display: block;
    padding: .5em .75em;

    &.is-active {
      background-color: $primary;
      color: $white;
    }
  }
}
