<% if flash.any? %>
  <div class="z-50 w-full md:w-3/4 lg:w-1/2 mx-auto left-0 right-0 absolute mt-4 px-4">
    <% flash.each do |type, value| %>
      <div x-data="{close: false, type: '<%= type %>'}">
        <div x-show="!close"
             class="rounded relative border px-4 py-4 mt-2 flex items-center"
             :class="{'bg-red-100 border-red-400 text-red-700': type == 'alert', 'bg-blue-100 border-blue-400 text-blue-700': type == 'notice'}">
             <svg class="h-6 w-6 text-green-500 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
          <span class="inline ml-3"><%= value %></span>
          <span class="absolute right-0 px-4">
            <svg @click="close = true"
                 role="button"
                 class="fill-current h-6 w-6 cursor-pointer"
                 :class="{'text-red-500': type == 'alert', 'text-blue-500': type == 'notice'}"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20">
              <title><%= t('.close') %></title>
              <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
          </span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
