<% if flash.any? %>
  <div class="w-1/2 mx-auto left-0 right-0 absolute mt-1">
    <% flash.each do |type, value| %>
      <flash text="<%= value %>" type="<%= type %>"></flash>
    <% end %>
  </div>
<% end %>
