<% if flash.any? %>
<div class="w-full absolute">
    <div class="w-1/2 mx-auto">
    <% flash.each do |type, value| %>
      <flash text=<%= value %> type=<%= type %>></flash>
    <% end %>
  </div>
  </div>
<% end %>
