<aside class="column menu is-2 aside is-fullheight is-hidden-touch bg-gray-900">
  <ul class="menu-list">
    <li>
      <%= link_to(account_path,
                  class: aside_item_class(['home'])) do %>
        <%= icon('fas', 'home') %>
        <%= t('.home') %>
      <% end %>
    </li>
  </ul>
  <%= yield(:sidemenu) %>
</aside>
