<h2 class="text-gray-900 text-xl font-medium">Company settings</h2>
<div class="flex flex-col my-4">
  <div class="-mx-3 md:flex mb-6">
    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="text-gray-700 text-xs font-semibold uppercase">
        Name
      </label>
      <input
        class="h-10 appearance-none block w-full bg-white text-gray-700 border border-gray-400 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mt-2"
        id="grid-first-name" type="text">
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="text-gray-700 text-xs font-semibold uppercase">
        Last Name
      </label>
      <input
        class="h-10 appearance-none block w-full bg-white text-gray-700 border border-gray-400 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white mt-2"
        id="grid-last-name" type="text">
    </div>
  </div>
  <div class="flex flex-wrap -mx-3">
    <div class="w-full px-3">
      <label class="text-gray-700 text-xs font-semibold uppercase">
        Email Adress
      </label>
      <input
        class="h-10 appearance-none mt-1 block w-full bg-white text-gray-700 border border-gray-400 rounded px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mt-2"
        type="email">
    </div>
  </div>
</div>
