<div class="flex items-center px-6 lg:hidden">
  <div class="w-3/4 py-6">
    <div class="text-gray-900 mb-2">
      <span class="text-5xl"><%= @counts[:active] %></span>
    </div>
    <div class="text-green-500 text-sm">
      &uarr; 5 more than last month
    </div>
  </div>
  <div class="flex-grow py-6">
    <div class="relative">
      <select class="block appearance-none w-full bg-white border border-gray-200 px-4 py-2 pr-8 rounded">
        <option><%= t('.projects') %></option>
        <option><%= t('.time_logss') %></option>
        <option><%= t('.invoices') %></option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
      </div>
    </div>
  </div>
</div>
