<% tasks ||= [] %>
<div class="col-span-5 md:col-span-2">
  <div class="bg-white border shadow sm:rounded">
    <div class="border-b">
      <div class="flex justify-between px-6 -mb-px">
        <h3 class="py-4 text-lg font-normal text-blue-700">Recent time logs</h3>
      </div>
    </div>
    <% if tasks.any? %>
      <div class="flex flex-wrap items-start">
        <% tasks.each do |task| %>
          <%= render('tasks/status_row', task: task) %>
        <% end %>
      </div>
    <% else %>
      <%= render('tasks/empty') %>
    <% end %>
  </div>
</div>
