<div class="col-span-2 lg:col-span-2">
  <div class="bg-white border shadow sm:rounded">
    <div class="border-b">
      <div class="flex justify-between px-6 -mb-px">
        <h3 class="py-4 text-lg font-normal text-blue-700">Recent time logs</h3>
      </div>
    </div>
    <%= render('tasks/empty') %>
  </div>
</div>
